@model src.Models.Address

@{
    ViewData["Title"] = "Edit Address";
}

<h2>Edit</h2>

<h4>Address</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AddressID" />
            <div class="form-group">
                <label asp-for="county" class="control-label"></label>
                <input asp-for="county" class="form-control" />
                <span asp-validation-for="county" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="postCode" class="control-label"></label>
                <input asp-for="postCode" class="form-control" />
                <span asp-validation-for="postCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="street1" class="control-label"></label>
                <input asp-for="street1" class="form-control" />
                <span asp-validation-for="street1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="street2" class="control-label"></label>
                <input asp-for="street2" class="form-control" />
                <span asp-validation-for="street2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationUserID" class="control-label"></label>
                <select asp-for="ApplicationUserID" class ="form-control" asp-items="ViewBag.ApplicationUserID">
                    <option selected disabled>Select a user...</option>
                </select>
                <span asp-validation-for="ApplicationUserID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">Save</button>
                <a asp-action="Index" class="btn">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
