@model src.Models.RouteStop

@{
    ViewData["Title"] = "Create Route-Stop Link";
}

<h2>Create</h2>

<h4>Route-Stop</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RouteID" class="control-label"></label>
                <select asp-for="RouteID" class ="form-control" asp-items="ViewBag.RouteID"></select>
            </div>
            <div class="form-group">
                <label asp-for="StopID" class="control-label"></label>
                <select asp-for="StopID" class ="form-control" asp-items="ViewBag.StopID"></select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">Create</button>
                <a asp-action="Index" class="btn">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
